body {
    margin: 0;
    background: #f2e3c6;
    background-image:
        linear-gradient(90deg, rgba(0,0,0,0.03) 1px, transparent 1px),
        linear-gradient(180deg, rgba(0,0,0,0.03) 1px, transparent 1px);
    background-size: 40px 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    
}




.MyWatch {
    width: 280px;
    height: 280px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 
        0 20px 40px rgba(0,0,0,0.3),
        inset 0 -8px 20px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 160px; /* hangs under rope */
    border: 8px solid #d9d9d9;
}

.MyWatch text{
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    position: center;
}
span {
    font-size: 45px;
    font-weight: bold;
    color: #0d3d3d;
    margin: 4px 0;
    text-shadow: 0 2px 5px rgba(0,0,0,0.2);
}